.track-holder {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25vh;

    .player {
        width: 5%;
        height: 100%;
        color: var(--dark);
        border-radius: 5px 0 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &.blue {
            background-color: var(--blue);
        }
        &.yellow {
            background-color: var(--yellow);
        }
        &.green {
            background-color: var(--green);
        }

        svg {
            width: 4rem;
            padding: 1rem;
            cursor: pointer;
        }

        &.readonly {
            svg {
                cursor: alias;
            }
        }
    }

    canvas {
        width: 95%;
        height: 100%;
        border-radius: 0 5px 5px 0;
        
        &.no-file {
            cursor: pointer;
        }

        &.blue {
            border: 2px solid var(--blue);
        }
        &.yellow {
            border: 2px solid var(--yellow);
        }
        &.green {
            border: 2px solid var(--green);
        }
    }
}

canvas.hidden {
    display: none;
}

input {
    display: none;
}